.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;

  .title {
    padding-top: 10px;
    width: 300px;
    text-align: center;
    font-size: 28px;
  }
}

.container {
  margin-top: - 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.form {
  margin-top: 10px;

  .inputContainer {
    margin-top: 10px;
    margin-bottom: 10px;

    .input {
      width: 400px;
    }
  }

  .textarea {
    margin-left: 50px;
    width: 400px;
    height: 100px;
    resize: none;
  }

  .mgLeft {
    margin-left: 50px;
  }

  .error {
    color: red;
    font-size: 11px;
  }
}

.button {
  margin-left: 50px;
  width: 120px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}